/*************************************************
    GENERAL STYLES
 *************************************************/
:root{
   --ps-btn-dark-gray: #363636;
   --ps-bg-dark-gray: #1F1F1F;
   --ps-bg-light-gray: #BEBCBB;
   --ps-bg-dark-blue: #161C3B;
   --ps-bg-light-blue: #00439C;
}
/* Bootstrap;
.bg-body(white)
.bg-white(white)
.bg-dark (black)
.bg-danger (red)
.bg-primary (blue)

.text-light (white)
.text-primary (blue) */
/*************************************************
    HEADER (NAV + HERO)
 *************************************************/

 /*************************************************
    MAIN
 *************************************************/

 /*************************************************
    FOOTER
 *************************************************/

 /*************************************************
    RESIZES
 *************************************************/