/*************************************************
    GENERAL STYLES
 *************************************************/
 :root{
    --ps-btn-dark-gray: #363636;
    /* --ps-bg-dark-gray: #1F1F1F; */
    --ps-bg-light-gray: #BEBCBB;
    --ps-bg-dark-blue: #161C3B;
    --ps-bg-light-blue: #0070d1;
 }
 /* Bootstrap;
 .bg-body(white)
 .bg-white(white)
 .bg-black(black)
 .bg-dark (black)
 .bg-danger (red)
 .bg-primary (blue)
 
 .text-light (white)
 .text-primary (blue) */
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 main h2{
     font-size: 42px;
 }
 .debug{
     border: 1px solid red;
 }
 .ps-btn{
     border: 4px solid white; 
     outline: 2px solid transparent;
     border-radius: 30px;
     padding: 8px 10px;
     font-weight: 600;
     color: white;
 }
 .ps-btn:hover{
    outline: 2px solid var(--ps-bg-light-blue);
 }
 .ps-btn-dark-gray{
    border-radius: 30px;
     font-weight: 600;
     color: white;
     background-color: var(--ps-btn-dark-gray);
     padding: 5px 10px;
 }
 .ps-btn-dark-gray:hover{
    background-color: var(--ps-bg-dark-blue);
}
.btn-hero{
    border-radius: 30px;
    padding: 8px 10px;
    font-weight: 600;
    color: white;
}
.btn-hero:hover{
    transform: scale(1.1);
    transition: ease-in-out 500ms;
}
 /*************************************************
     HEADER (NAV + HERO)
  *************************************************/
  /* sony */
.sony-logo{
    width: 6%;
    max-width: 100%;
    padding: 10px;
}
  /* navbar */
.sticky-nav{
    display: flex;
    /* padding: 30px; */
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}
nav{
    width: 100%;
    background-color: white;
    position: relative;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-left: 15px;
}
.chevron-down{
    width: 10px;
    margin-left: 5px;
}
.chevron-down-blue{
    width: 10px;
    margin-left: 5px;
    display: none;
}
nav li a:hover .chevron-down{
   display: none;
 }
nav li a:hover .chevron-down-blue{
   display: inline-block;
}
.lens{
    width: 40%;
 }
.megamenu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    /* height: 300px; */
    box-shadow: 0 10px 10px var(--ps-bg-dark-blue);
    opacity: 0;
    visibility: hidden;
    transition: 500ms;
    background-color: white;
    padding-top: 30px;
}
nav ul li:hover .megamenu{
    opacity: 1;
    visibility: visible;
    /* top: 100%; */
}
.megamenu-icon{
    width: 50%;
}
.mi-icon:hover{
    padding: 10px;
    box-shadow: 1px 2px 5px #aeaeae;
    transition: 500ms;
}

.naw-dw-bottom-menu li{
    padding: 0 20px;
}
.naw-dw-bottom-menu li a{
    font-size: 14px;
    font-weight: 600;
}
.naw-dw-bottom-menu li a i{
    color: var(--ps-bg-light-blue);
    font-size: 8px;
    vertical-align: middle;
    padding-right: 5px;
    }
/* hero */
#hero{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 675px;
    /* position: relative; */
}
.hero-logo{
    width: 60%;
}
/* hero's carousel */
.hero-img{
    cursor: pointer;
    filter: blur(1px);
    filter: saturate(50%);
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}
.hero-img:hover,
.hero-img:focus{
  box-shadow: 0 0.5em 0.5em -0.4em var(--ps-bg-dark-blue);
  /* transform: translateY(-0.25em); */
  top: -10px;
  filter: none;
}
 /*************************************************
    MAIN
 *************************************************/
 /* PS5  */
 .ps-accessories{
    width: 60%;
    max-width: 100%;
}
.ps-border-active{
    border-bottom: 2px solid white;
}
.ps-border-active.active{
    border-bottom: 2px solid var(--ps-bg-light-blue);
}
/* NEW  */
.new-bg{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    position: relative;
}
.new-hero{
    max-width: 350px;
    position: absolute;
    bottom: 50px;
    left: 40px;
}
.new-logo{
    width: 60%;
}
/* PLAYSTATION PLUS  */
#playstationplus{
    background-color: var(--ps-bg-light-gray);
}
.psfour-logo{
    width: 60%;
}
.ps-plus-img{
   width: 50%;
}
/* PLAYSTATION NOW */
#playstationnow{
    background-color: var(--ps-bg-dark-blue);
}
/* SOCIAL */
.box-container{
    width: 50%;
    margin: 0 auto;
}
/*************************************************
    FOOTER
 *************************************************/
 footer{
    background-color: var(--ps-bg-light-blue);
    padding: 25px 0;
}
footer ul li{
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 2rem;
}
.sie-logo{
    width: 25%;
}
.ps-footer-logo{
    width: 25%;
}
.globe{
    height: 20px;
    vertical-align: middle;
}
.txt-copyr{
    font-size: 14px;
    font-weight: 600;
}
/*************************************************
    RESIZES
 *************************************************/
 @media screen (max-width:768px){
    .hero-logo{
        width: 100%;
    }
 }
 @media screen and (max-width:576px){
    .hero-logo{
        width: 70%;
    }
    #playstationplus img.ps-plus-img{
        display: none;
     }
     #playstationplus{
        padding: 40px 0;
     }
     #playstationnow img.ps-plus-img{
        display: none;
     }
     #playstationnow{
        padding: 40px 0;
     }
     .box-container{
        width: 100%;
    }
    #social h3{
        font-size: 32px;
    }
    .sie-logo{
        width: 30%;
    }
    .ps-footer-logo{
        width: 25%;
    }
    
 }